:root {
    --gray: #1F2937;
    --red: #991B1B;
    --yellow: #92400E;
    --green: #065F46;
    --blue: #1E40AF;
    --indigo: #3730A3;
    --purple: #5B21B6;
    --pink: #9D174D;

    --gray-bg: #F3F4F6;
    --red-bg: #FEE2E2;
    --yellow-bg: #FEF3C7;
    --green-bg: #D1FAE5;
    --blue-bg: #DBEAFE;
    --indigo-bg: #E0E7FF;
    --purple-bg: #EDE9FE;
    --pink-bg: #FCE7F3;

    --lightblue: #1e90ff;
    --white: #ffffff;
}

div.container {
    max-width: 992px;
    width: 100%;
    margin: 0 auto;
}

/* Navbar */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5em 1em;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.2);
}

div.logo-container {
    display: flex;
    align-items: center;
    gap: .3em;
    cursor: pointer;
}

.nav-logo {
    width: 3em;
}

.logo-text {
    font-size: 20px;
    font-weight: 700;
    color: var(--blue);
}

.logo-text span:first-of-type {
    color: #90bb3b;
}

.logo-text span:last-of-type {
    color: #FF4500;
}

ul.nav {
    display: none;
    align-items: center;
    gap: 1em;
    list-style: none;
}

ul.nav a {
    text-decoration: none;
    color: var(--blue);
    padding-bottom: .2em;
}

ul.nav a:hover,
ul.nav a:focus,
ul.nav a:active {
    color: #034c88;
    border-bottom: 3px solid #034c88;
    font-weight: 700;
}

/* Main */
main {
    padding: 2em 1.5em;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

section {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

h1.title {
    font-size: 36px;
    line-height: 1;
    color: #000000;
    text-align: center;
}

h3.title {
    font-size: 20px;
    line-height: 0.7;
    color: #5E5D5D;
}

.title {
    font-family: 'Permanent Marker', cursive;
}

/* Badges */
.badges-container>div {
    display: flex;
    flex-flow: row wrap;
    gap: .8em 1em;
}

.badge {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 12px;
    background: var(--gray-bg);
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: var(--gray);
}

.badge.pill {
    border-radius: 12px;
}

.badge.red {
    background-color: var(--red-bg);
    color: var(--red);
}

.badge.yellow {
    background-color: var(--yellow-bg);
    color: var(--yellow);
}

.badge.green {
    background-color: var(--green-bg);
    color: var(--green);
}

.badge.blue {
    background-color: var(--blue-bg);
    color: var(--blue);
}

.badge.indigo {
    background-color: var(--indigo-bg);
    color: var(--indigo);
}

.badge.pink {
    background-color: var(--pink-bg);
    color: var(--pink);
}

/* Banners */
.banner-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.banner-container:not(:last-of-type) {
    margin-bottom: 25px;
}

.banner-container h3 {
    font-family: 'Inter', sans-serif;
    font-size: .7em;
    margin-bottom: .2em;
}

.banner {
    display: flex;
    gap: 12px;
    align-items: flex-start;
    padding: 16px;
    border-radius: 6px;
    background-color: #EFF6FF;
    min-width: 200px;
    width: 100%;

}

.banner-children {
    font-family: 'Inter';
    font-size: 14px;
    line-height: 20px;
}

.banner-children h5 {
    font-weight: 500;
    color: #1E40AF;
}

.banner-children p {
    font-weight: 400;
    color: #1C51B9;
}

.banner>svg {
    min-width: 16px;
    min-height: 16px;
    color: #60A5FA;
}

/* Banner Variants */

/* Success */
.banner.success {
    background-color: #ECFDF5;
}

.banner.success h5 {
    color: #065F46;
}

.banner.success p {
    color: #047857;
}

.banner.success>svg {
    color: #34D399;
}

/* Warning */
.banner.warning {
    background-color: #FFFBEB;
}

.banner.warning h5 {
    color: #92400E;
}

.banner.warning p {
    color: #B45309;
}

.banner.warning>svg {
    color: #FBBF24;
}

/* Error */
.banner.error {
    background-color: #FEF2F2;
}

.banner.error h5 {
    color: #92400E;
}

.banner.error p {
    color: #B45309;
}

.banner.error>svg {
    color: #F87171;
}

/* Media Queries */
@media (min-width: 478px) {
    main {
        padding: 3em;
        margin-top: 1em;
    }

    .badges-container {
        display: grid;
        grid-template-areas:
            ". heading"
            "square-heading square-badges"
            "pill-heading pill-badges";
    }

    .badges-title {
        font-size: 44px;
        grid-area: heading;
        justify-self: flex-start;
        margin-bottom: .7em;
    }

    .square-title {
        grid-area: square-heading;
    }

    .pill-title {
        grid-area: pill-heading;

    }

    .square-title,
    .pill-title {
        align-self: center;
        justify-self: flex-end;
    }

    .square-container {
        grid-area: square-badges;
    }

    .pill-container {
        grid-area: pill-badges;
    }
}

@media (min-width: 768px) {
    .banner-container {
        display: grid;
        grid-template-columns: 120px repeat(2, 1fr);
        align-items: center;
    }

    h3.type-title {
        grid-column: 1 / 2;
        align-self: center;
        font-family: 'Permanent Marker', cursive;
        font-size: 16px;
        line-height: 0.7;
        color: #5E5D5D;
    }

    .mult {
        grid-column: 2 / 3;
    }

    .sing {
        grid-column: 3 / 4;
        
    }
}

